%flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
}
.flex-column-nowrap {
  @extend %flex-column-nowrap;
}
%flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.flex-row-nowrap {
  @extend %flex-row-nowrap;
}

.fullcard-wrapper {
  background-color: var(--darkGray);
  border-radius: 20px;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
}
.fullcard-stats-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.fullcard-title {
  font-size: 1.5rem;
}
.fullcard-portrait {
  height: 100px;
  border-radius: 20%;
  box-shadow: 3px 3px 3px 1px var(--transparentGray);
}
.fullcard-points-span {
  color: var(--aquillaText);
  text-transform: capitalize;
  font-size: 1rem;
  //   margin: 0.2rem 0;
}
.fullcard-detail-span {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.fullcard-detail-list {
  @extend %flex-column-nowrap;
  padding: 1rem;
  min-width: 100px;
}
.fullcard-stats-list {
  @extend %flex-column-nowrap;
  text-align: left;
  padding: 1rem;
}
.fullcard-stats-list-item {
  // margin: 0.5rem 0 0.5rem 0;
  font-size: 1.2rem;
  padding: 0.3rem;
  width: 100%;
}

.fullcard-stats-icon-frame {
  @extend %flex-row-nowrap;
  border: 0.5px dotted var(--lightGray);
}
.fullcard-abilities-wrapper {
  padding: 0.6rem;
  text-align: center;
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}
.fullcard-ability-title {
  font-family: "Merienda";
  font-size: 1.3rem;
}
