@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

.app-wrapper {
  --darkGray: rgb(49, 61, 66);
  --transparentGray: rgba(73, 91, 99, 0.9);
  --lightGray: #b9b8b4;
  --black: rgb(3, 3, 3);
  --transparentBlack: rgba(19, 17, 16, 0.8);
  --white: #f7faff;
  
  --aquilla: #e0d50d;
  --aquillaDark: hsl(57, 100%, 40%);
  --jandar: #1a36cf;
  --ullar: #008000;
  --einar: #41165e;
  --vydar: #219f82;
  --utgar: #e70808;
  --valkrill: #a7a13c;
  
  --brown: #9b7f58;
  --red: #962621;
  
  --aquillaText: #fbef08;
  --jandarText: rgb(26, 54, 207);
  --ullarText: #008000;
  --einarText: #6914aa;
  --vydarText: hsl(166, 65%, 38%);
  --utgarText: hsla(0, 99%, 53%, 1);
  
  --cardLife: #621714;
  --cardMove: #194917;
  --cardRange: #6b6867;
  --cardAttack: #e82b29;
  --cardDefense: #142134;
  background-image: url(../assets/hs-logo-black.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-color: black;
  width: 100%;
  min-height: 100%;
  color: var(--white);
  text-align: center;
  font-family: "Playfair Display", serif;
}
.page-wrapper {
  margin: 0 auto;
  background-color: var(--transparentBlack);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Playfair Display", serif;
}
.password-forget-link {
  color: var(--aquilla);
}

%big-text {
  font-size: 2rem;
}
.big-text {
  @extend %big-text;
}
%big-button {
  width: 2rem;
  height: 2rem;
}
.big-button {
  @extend %big-button;
}
%small-button {
  width: 1.4rem;
  height: 1rem;
}
.small-button {
  @extend %small-button;
}

%flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
}
.flex-column-nowrap {
  @extend %flex-column-nowrap;
}
%flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.flex-row-nowrap {
  @extend %flex-row-nowrap;
}
