.army-list-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0.6rem 0.2rem 0.6rem 0.2rem;
}
.army-item-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  background-color: $black;
  font-size: 1rem;
  border-radius: 15%;
  img {
    margin: 0.5rem 0 0 0;
    border-radius: 35%;
    width: 2.5rem;
    height: 2.5rem;
  }
  h3 {
    font-size: 0.7rem;
  }
}
.army-item-points {
  font-size: 0.7rem;
  font-weight: 600;
  color: $aquilla;
  margin: 0;
}
.army-item-count {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.army-item-btn-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0.6rem;
  button {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    box-shadow: 1px 1px 4px 2px $black, 0.3px 0.3px 4px 0.1px $lightGray inset,
      0.1px 0.1px 4px 0.1px $darkGray inset;
    font-size: 1.5rem;
    font-weight: 900;
    color: $black;
  }
}
