$smallFont: 0.7rem;
$consoleGradientBlack: #151612;

.console-wrapper {
  background: -webkit-linear-gradient(
    left,
    $black 0%,
    $consoleGradientBlack 33%,
    $consoleGradientBlack 66%,
    $black 100%
  );
  color: $white;
  width: 100%;
  // margin: 1rem;
}
.console-top-row {
  display: flex;
  padding: 0.4rem;
  flex-flow: row-reverse nowrap;
  justify-content: flex end;
}
.point-readout-wrapper {
  display: flex;
  @media only screen and (max-width: 300px) {
    display: none;
  }
  flex-flow: column nowrap;
  font-size: 1rem;
  padding: 0.3rem;
  input {
    color: $aquilla;
    text-align: center;
    width: 5rem;
    background-color: $black;
    transition: width 0.35s ease-in-out;
    &:focus {
      width: 7rem;
      outline-style: double;
      outline-width: thin;
    }
  }
  @media only screen and (max-width: 450px) {
    font-size: $smallFont;
    input {
      font-size: $smallFont;
      width: 2rem;
      height: 1rem;
      transition: width 0.35s ease-in-out;
      &:focus {
        width: 3rem;
        outline-style: double;
        outline-width: thin;
      }
    }
  }
}
.console-search-form {
  max-width: 40%;
  padding: 0.5rem;
  i {
    position: relative;
    top: 0.5rem;
  }
  label {
    font-size: 1.2rem;
  }
  input {
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    width: 50%;
    border-left: none;
    border-right: none;
    border-top: none;
  }
}
// @media only screen and (max-width: 450px) {
//   .console-search-form {
//     label {
//       font-size: $smallFont;
//     }
//     input {
//       font-size: $smallFont;
//       width: 2rem;
//       height: 1rem;
//       background-color: $black;
//       transition: width 0.35s ease-in-out;
//       &:focus {
//         width: 4rem;
//       }
//     }
//   }
// }
